<?xml version="1.0"?>
<!-- Copyright (c) 2008-2014 New Relic, Inc.  All rights reserved. -->
<!-- For more information see: https://newrelic.com/docs/dotnet/dotnet-agent-configuration -->
<configuration xmlns="urn:newrelic-config" agentEnabled="true">
  <application>
    <name>My Web Role</name>
  </application>  
  <!--  In web process, we skip some errors.  -->
  <errorCollector enabled="true">
    <ignoreErrors>
      <exception>System.IO.FileNotFoundException</exception>
      <exception>System.Threading.ThreadAbortException</exception>
    </ignoreErrors>
    <ignoreStatusCodes>
      <code>401</code>
      <code>404</code>
    </ignoreStatusCodes>
    <attributes enabled="true">
      <include>*</include>
    </attributes>
  </errorCollector>

  <!--  Web and worker processes have the same config from here onwards.  -->
  <service licenseKey="50263204fda3fbbfe89d698d16eddca86e3ed31e" ssl="true" />
  <log level="info" />
  <!--  To reduce transaction tracing to normal, set transactionThreshold="apdex_f"  -->
  <transactionTracer
    enabled="true"
    transactionThreshold="0.0001"
    stackTraceThreshold="500"
    recordSql="raw"
    explainEnabled="true"
    explainThreshold="500">
    <attributes enabled="true">
      <include>*</include>
    </attributes>
  </transactionTracer>
  <crossApplicationTracer enabled="true" />
  <browserMonitoring autoInstrument="false" />
  <threadProfiling>
    <ignoreMethod>System.Threading.WaitHandle:InternalWaitOne</ignoreMethod>
    <ignoreMethod>System.Threading.WaitHandle:WaitAny</ignoreMethod>
  </threadProfiling>
  <applicationPools>
    <defaultBehavior instrument="true"/>
  </applicationPools>
  <transactionEvents enabled="true"
    maximumSamplesPerMinute="10000"
    maximumSamplesStored="10000">
    <attributes enabled="true">
      <include>*</include>
    </attributes>
  </transactionEvents>
  <customEvents enabled="true"></customEvents>
  <slowSql enabled="true"/>
</configuration>
